In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('/Users/noahv/Data-Mining-techniques/course_dmt/ass2/datasets/training_set_VU_DM.csv')

I use this function to check if there is a change in values over time for a column of a prop_id

In [3]:
def change_in_values_over_time(df, col, change = True):
    has_change_over_time = df.groupby('prop_id')[col].apply(lambda x: x.diff().any())
    prop_ids_change = has_change_over_time[has_change_over_time == change].index
    print(len(prop_ids_change))
    #print(prop_ids_change)

#change_in_values_over_time(df, 'prop_location_score2')
#change_in_values_over_time(df, 'prop_review_score')
change_in_values_over_time(df, 'prop_starrating')

0

This function can be used to see if there is a change from a NaN value to a non NaN value

In [12]:
def change_in_values_over_time(df, col, change = False):
    has_change_over_time = df.groupby('prop_id')[col].apply(lambda x: x.diff().notna().any())
    prop_ids_change = has_change_over_time[has_change_over_time == change].index
    print(len(prop_ids_change))
    #print(prop_ids_change)

change_in_values_over_time(df, 'prop_location_score2')

42898
Int64Index([     1,      5,      7,     10,     12,     20,     21,     22,
                25,     27,
            ...
            140783, 140784, 140785, 140789, 140793, 140794, 140796, 140802,
            140806, 140820],
           dtype='int64', name='prop_id', length=42898)

PRICE PER NIGHT <br>
Calculate the price per day for each hotel

In [9]:
# Get the max day price for each prop_starrating 
instances_with_length_of_stay_1 = df[df['srch_length_of_stay'] == 1]

# Calculate the max value for each prop_starrating
max_price_per_starrating = instances_with_length_of_stay_1.groupby('prop_starrating')['price_usd'].nlargest(20)
max_price_per_starrating

# Impute missing values of 'prop_location_score2' based on rounded integer values
#df['prop_location_score2'].fillna(df['rounded_score1'].map(mean_score2_by_rounded), inplace=True)

prop_starrating
0                655120      306114.76
                 2619384     165532.00
                 4153274     118074.00
                 314984       73400.00
                 4153261      59073.00
                               ...
5                1426759    1323780.00
                 1426754    1283666.00
                 1426766    1219482.00
                 1426772    1156390.00
                 1426771    1145672.00
Name: price_usd, Length: 120, dtype: float64

In [8]:
dummy_df = df['price_usd'].nlargest(40)
dummy_df

1168566    19726328.00
680748     11818011.00
3117007     9381308.71
1168574     5444467.00
2945135     4973355.00
1168576     4884239.00
1168562     4339792.00
1168580     4260887.00
4172824     4216286.00
1168581     3905813.00
1168583     3905813.00
1168578     3779565.00
2945143     3748123.00
3116994     3682007.90
3117004     3272895.58
3117002     3255043.32
1168564     3235118.00
2945150     3138525.00
2945152     3038092.00
3116991     3027428.18
1168584     3018128.00
2945136     2993573.00
2945145     2986997.00
3117001     2958993.77
2945155     2862335.00
3116988     2856344.43
2945138     2817430.00
1168568     2741960.00
3117009     2707577.14
2945154     2694303.00
3117005     2675964.43
2945148     2663400.00
1168570     2589139.00
1168579     2588094.00
1168565     2461846.00
1168572     2450010.00
3116997     2444257.49
1168577     2367159.00
2945141     2259728.00
3117003     2231519.99
Name: price_usd, dtype: float64

In [13]:

def get_price_per_night(df : pd.DataFrame) -> pd.DataFrame:  

    unique_properties = df['prop_id'].unique()
    new_df = pd.DataFrame()

    count = 0
    for prop_i in unique_properties:
        df_for_prop_i = df[df['prop_id'] == prop_i]

        if (df_for_prop_i['srch_length_of_stay'] == 1).any():
            instances_with_length_of_stay_1 = df_for_prop_i[df_for_prop_i['srch_length_of_stay'] == 1]
            mean_price_per_night = instances_with_length_of_stay_1['price_usd'].mean()
            df_for_prop_i['mean_price_per_night'] = mean_price_per_night
            new_df = new_df.append(df_for_prop_i)

        else:
            df_for_prop_i['mean_price_per_night'] = np.nan
            print(df_for_prop_i['prop_id'])
            count += 1
            print(count)
            new_df = new_df.append(df_for_prop_i)

    return new_df


df = get_price_per_night(df)

C:\Users\noahv\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\noahv\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

519        2169
189298     2169
240601     2169
383880     2169
464645     2169
533732     2169
674561     2169
886337     2169
1226165    2169
1280291    2169
1382780    2169
1407544    2169
1440433    2169
1618671    2169
1855488    2169
1918107    2169
1977394    2169
2579080    2169
2619185    2169
2662136    2169
3101368    2169
3206201    2169
3276015    2169
3289144    2169
3844833    2169
3916977    2169
4187180    2169
4385248    2169
4442748    2169
4500168    2169
4571954    2169
4604906    2169
4613500    2169
4671031    2169
4760591    2169
4769211    2169
4828603    2169
4901191    2169
Name: prop_id, dtype: int64
1
526        33931
189306     33931
240608     33931
280901     33931
383888     33931
464652     33931
533736     33931
617234     33931
886341     33931
1226172    33931
1382787    33931
1618678    33931
1633136    33931
1977401    33931
2579087    33931
2619192    33931
2721240    33931
3101376    33931
3198384    33931
3206206    33931
3276021    33931
3289151    33931
3390577    33931
3469667    33931
3758632    33931
3844839    33931
3916983    33931
4185442    33931
4385256    33931
4464145    33931
4500174    33931
4613508    33931
4671036    33931
Name: prop_id, dtype: int64
2
546        109740
189322     109740
1226192    109740
4442762    109740
Name: prop_id, dtype: int64
3
664        852
313577     852
2167122    852
3364632    852
3810820    852
Name: prop_id, dtype: int64
4
665        3465
313578     3465
1563690    3465
1810440    3465
2167123    3465
3364633    3465
3810821    3465
Name: prop_id, dtype: int64
5
666        7330
313579     7330
1810441    7330
2167124    7330
3364634    7330
3810822    7330
Name: prop_id, dtype: int64
6
667        8970
1810442    8970
3364635    8970
Name: prop_id, dtype: int64
7
668        12767
3810824    12767
Name: prop_id, dtype: int64
8
669        17860
313580     17860
1563692    17860
3364636    17860
3810825    17860
Name: prop_id, dtype: int64
9
670        23062
313581     23062
1563693    23062
1810443    23062
2167125    23062
3364637    23062
3810826    23062
Name: prop_id, dtype: int64
10
671        36129
313583     36129
1563696    36129
1810444    36129
2167126    36129
3364639    36129
Name: prop_id, dtype: int64
11
672        38194
313584     38194
1563697    38194
2167127    38194
3364641    38194
Name: prop_id, dtype: int64
12
673        42259
313585     42259
1563699    42259
1810446    42259
2167129    42259
3364643    42259
3810829    42259
Name: prop_id, dtype: int64
13
674        44174
313586     44174
1563700    44174
1810447    44174
2167130    44174
3364644    44174
3810830    44174
Name: prop_id, dtype: int64
14
675        52007
313589     52007
1563703    52007
3364646    52007
3810832    52007
Name: prop_id, dtype: int64
15
676        52086
313590     52086
2167133    52086
Name: prop_id, dtype: int64
16
677        52642
1563704    52642
1810450    52642
2167134    52642
3364647    52642
Name: prop_id, dtype: int64
17
678        62870
313592     62870
1810451    62870
2167136    62870
3364649    62870
Name: prop_id, dtype: int64
18
679        68394
313593     68394
2167137    68394
3364650    68394
3810834    68394
Name: prop_id, dtype: int64
19
680        71362
313594     71362
1810452    71362
2167138    71362
Name: prop_id, dtype: int64
20
681        78733
313595     78733
2167139    78733
3364651    78733
3810835    78733
Name: prop_id, dtype: int64
21
682        84936
1563707    84936
1810454    84936
2167141    84936
3364652    84936
3810837    84936
Name: prop_id, dtype: int64
22
683        85546
313596     85546
1563708    85546
2167142    85546
3364653    85546
3810838    85546
Name: prop_id, dtype: int64
23
684        89156
313598     89156
2167143    89156
Name: prop_id, dtype: int64
24
685        99600
313599     99600
1563710    99600
1810456    99600
2167144    99600
3364655    99600
3810840    99600
Name: prop_id, dtype: int64
25
686        99666
313600     99666
1563711    99666
2167145    99666
3364656    99666
3810841    99666
Name: prop_id, dtype: int64
26
687        100285
313601     100285
2167146    100285
3810842    100285
Name: prop_id, dtype: int64
27
688        107533
313602     107533
1563713    107533
1810457    107533
2167147    107533
3364657    107533
3810844    107533
Name: prop_id, dtype: int64
28
689        112210
313603     112210
2167148    112210
3810845    112210
Name: prop_id, dtype: int64
29
690        119428
313606     119428
1563718    119428
1810460    119428
2167152    119428
3364660    119428
3810848    119428
Name: prop_id, dtype: int64
30
691        127585
313607     127585
1810461    127585
3364661    127585
3810849    127585
Name: prop_id, dtype: int64
31
852    48894
Name: prop_id, dtype: int64
32
1085       120988
321030     120988
511788     120988
751081     120988
1111379    120988
1433478    120988
1543130    120988
1594002    120988
1628593    120988
1944153    120988
2083340    120988
2107080    120988
2119079    120988
2227132    120988
2355985    120988
2518860    120988
2673208    120988
2825591    120988
3003661    120988
3868134    120988
4721211    120988
Name: prop_id, dtype: int64
33

KeyboardInterrupt:

In [9]:
# This function is way faster, not sure if it works properly yet though
def get_price_per_night(df: pd.DataFrame) -> pd.DataFrame:
    mask = df['srch_length_of_stay'] == 1
    df['mean_price_per_night'] = np.nan
    df.loc[mask, 'mean_price_per_night'] = df.loc[mask].groupby('prop_id')['price_usd'].transform('mean')
    return df

new_df = get_price_per_night(df)

In [14]:
new_df = new_df[['prop_id', 'price_usd', 'srch_length_of_stay', 'mean_price_per_night']]
new_df.head(0)

Empty DataFrame
Columns: [prop_id, price_usd, srch_length_of_stay, mean_price_per_night]
Index: []

This code is used to impute the 'prop_loc_score2' column values

In [4]:
nan_instances = df[df['prop_location_score2'].isnull()]
print_df = nan_instances[['prop_id', 'prop_location_score2']]
print_df
print(len(print_df['prop_id'].unique()))

1090348
106909

In [10]:
# Function to impute the prop_location_score2 values that are NaN based on the prop_location_score2 values of the same prop_id
def impute_prop_loc_score2_using_future_score2(df : pd.DataFrame) -> pd.DataFrame:

    # Retrieve the prop_ids that have a change in prop_location_score2 from NaN to a float over time
    has_change_over_time = df.groupby('prop_id')['prop_location_score2'].apply(lambda x: x.diff().notna().any())
    prop_ids_change = has_change_over_time[has_change_over_time == True].index

    # For each prop_id that has a change in prop_location_score2 from NaN to a float over time, impute the NaN values with the first non-NaN value
    for prop_id in prop_ids_change:
        mask = (df['prop_id'] == prop_id) & (df['prop_location_score2'].isnull())
        non_nan_value = df.loc[(df['prop_id'] == prop_id) & (df['prop_location_score2'].notna()), 'prop_location_score2'].values[0]
        df.loc[mask, 'prop_location_score2'] = non_nan_value

    return df

df = impute_prop_loc_score2_using_future_score2(df)
df

KeyboardInterrupt:

In [7]:
# Impute remaning NaN values using the mean prop_locatioin_score2 values for each prop_location_score1 value
def impute_prop_location_score2_using_mean_score1(df : pd.DataFrame) -> pd.DataFrame:

    # Create an extra column with rounded 'prop_location_score1'
    df['rounded_score1'] = df['prop_location_score1'].round()

    # Calculate the mean of 'prop_location_score2' for each rounded integer value
    mean_score2_by_rounded = df.groupby('rounded_score1')['prop_location_score2'].mean()

    # Impute missing values of 'prop_location_score2' based on rounded integer values
    df['prop_location_score2'].fillna(df['rounded_score1'].map(mean_score2_by_rounded), inplace=True)

    # Drop the extra column 'rounded_score1' if no longer needed
    df.drop('rounded_score1', axis=1, inplace=True)

    return df

dummy_df = impute_prop_location_score2_using_mean_score1(df)
dummy_df['prop_location_score2'].isnull().sum()

0

IMPUTE PROP_STARRATING <br>
This part is used to impute the prop_starrating

In [ ]:
def impute_prop_starrating(df : pd.DataFrame) -> pd.DataFrame:


    return df

IMPUTE PROP_REVIEW SCORE    <br>
This part is used to impute the prop_review score values

In [6]:
# To check if there are instances in the dataframe where two specific columns contain NaN values in the same row
dummy_df = df[(df['prop_starrating'] == 0) & (df['prop_review_score'].isna())]
print(len(dummy_df))

0

In [9]:
def impute_prop_review_score(df : pd.DataFrame) -> pd.DataFrame:

    # Calculate the mean of 'prop_location_score2' for each rounded integer value
    mean_review_score_for_starrating = df.groupby('prop_starrating')['prop_review_score'].mean()

    # Impute missing values of 'prop_location_score2' based on rounded integer values
    df['prop_review_score'].fillna(df['prop_starrating'].map(mean_review_score_for_starrating), inplace=True)

    return df

dummy_df = impute_prop_review_score(df)
dummy_df['prop_review_score'].isnull().sum()

0

In [11]:
dummy_df = dummy_df[['prop_review_score', 'prop_starrating']]
#dummy_df.head(20)

IMPUTE ORIG_DESTINATION_DISTANCE

In [18]:
df['orig_destination_distance'].isna().sum()

1607782

In [19]:
# Calculate the mean distance per hotel and impute the NaN values with the mean distance
def impute_orig_destination_distance(df : pd.DataFrame) -> pd.DataFrame:
    
    # Calculate the mean distance per hotel
    mean_distance_per_hotel = df.groupby('prop_id')['orig_destination_distance'].mean()
    
    # Impute the NaN values with the mean distance
    df['orig_destination_distance'].fillna(df['prop_id'].map(mean_distance_per_hotel), inplace=True)

    # BUT there are also hotels that contain only NaN values for orig_destination_distance, 
    # for these we impute it with the mean distance for the country_id
    # Use visitor_location_country_id or country_id?

    # Calculate the mean distance per country
    mean_distance_per_country = df.groupby('visitor_location_country_id')['orig_destination_distance'].mean()

    # Impute the NaN values with the mean distance
    df['orig_destination_distance'].fillna(df['visitor_location_country_id'].map(mean_distance_per_country), inplace=True)
    
    return df

dummy_df = impute_orig_destination_distance(df)
dummy_df['orig_destination_distance'].isna().sum()

0

IMPUTE SRCH_QUERY_AFFINITY_SCORE

In [31]:
def impute_and_transform_query_affinity_score(df : pd.DataFrame) -> pd.DataFrame:

    df['srch_query_affinity_score'] = np.power(2, df['srch_query_affinity_score'])

    return df

dummy_df = impute_and_transform_query_affinity_score(df)
non_nan_instances = df[df['srch_query_affinity_score'].notna()]
non_nan_instances['srch_query_affinity_score']

329        2.518257e-05
334        6.600852e-05
817        1.608792e-38
818        3.259117e-25
819        3.038785e-50
               ...
4958284    1.671091e-37
4958285    6.148936e-36
4958286    1.382293e-20
4958287    6.389987e-22
4958288    3.934595e-34
Name: srch_query_affinity_score, Length: 317406, dtype: float64

DEFINE TARGET AS ONE COLUMN <br>
Use position, click_bool and booking_bool for this

In [11]:
def define_target(df : pd.DataFrame) -> pd.DataFrame:

    df['target'] = df['click_bool'] +  df['booking_bool'] * 5

    return df

dummy_df = define_target(df)
dummy_df

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool,target
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,77700,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
4958343,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,88083,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
4958344,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,94508,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,157.84,1,6
4958346,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,134949,3,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0

In [ ]:
def add_position_to_target(df : pd.DataFrame) -> pd.DataFrame:

    df['target'] = df['target'] + df['position']

    return df

ADD ZERO AND NAN COLUMNS

In [14]:
import time 

def add_nan_column(df, cols):
    start_time = time.time()

    for col in cols:
        df[str(col) + '_is_nan'] = df[col].isna().astype(np.int8)

    # Print the runtime
    elapsed_time = time.time() - start_time
    print("add_nan_column runtime: %.2f seconds" % elapsed_time)

    return df


def add_zero_column(df, cols):
    start_time = time.time()

    for col in cols:
        df[str(col) + '_is_zero'] = df[col].eq(0).astype(np.int8)

    # Print the runtime
    elapsed_time = time.time() - start_time
    print("add_zero_column runtime: %.2f seconds" % elapsed_time)

    return df

df = add_nan_column(df, ['prop_review_score', 'srch_query_affinity_score'])
df = add_zero_column(df, ['prop_review_score', 'prop_starrating'])

dummy_df = df[['prop_review_score', 'prop_review_score_is_nan', 'prop_review_score_is_zero', 'prop_starrating', 'prop_starrating_is_zero']]
dummy_df

add_nan_column runtime: 0.04 seconds
add_zero_column runtime: 0.05 seconds

,prop_review_score,prop_review_score_is_nan,prop_review_score_is_zero,prop_starrating,prop_starrating_is_zero
0,3.5,0,0,3,0
1,4.0,0,0,4,0
2,4.5,0,0,3,0
3,4.0,0,0,2,0
4,3.5,0,0,4,0
...,...,...,...,...,...
4958342,4.0,0,0,3,0
4958343,4.0,0,0,3,0
4958344,3.5,0,0,3,0
4958345,5.0,0,0,3,0
4958346,2.5,0,0,3,0

In [17]:
dummy_df[dummy_df['prop_review_score_is_zero'] == 1]

,prop_review_score,prop_review_score_is_nan,prop_review_score_is_zero,prop_starrating,prop_starrating_is_zero
7,0.0,0,1,2,0
10,0.0,0,1,3,0
62,0.0,0,1,2,0
76,0.0,0,1,0,1
99,0.0,0,1,3,0
...,...,...,...,...,...
4958301,0.0,0,1,4,0
4958303,0.0,0,1,4,0
4958307,0.0,0,1,4,0
4958312,0.0,0,1,4,0
4958331,0.0,0,1,2,0

OUTLIER REMOVAL <br>
We can change some values and experiment with how our model performs. I provided some research for this outlier in EDA_noah.ipynb regarding the min - max values, boxplots and the number of values that exceed a particular threshold. <br>

I also read that in recommender systems outlier removal might not even be necessary because it could be due to the fact of extreme behaviour of some users.

In [8]:
def remove_outliers(df: pd.DataFrame):
    # remove outliers
    df = df[df['price_usd'] < 600000]
    df = df[df['srch_length_of_stay'] < 45]
    df = df[df['srch_booking_window'] < 500]
    # df = df[df['gross_bookings_usd'] < 45000]
    # df = df[df['srch_query_affinity_score'] > -300]
    return df

new_df = remove_outliers(df)
new_df

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
12,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1,114.29,1
63,6,2013-06-05 12:27:51,14,100,NaN,NaN,100,104251,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,162.38,1
68,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,27669,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1,96.41,1
194,21,2013-02-18 17:16:25,15,55,NaN,NaN,216,61662,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,222.58,1
211,25,2012-12-11 13:03:42,5,219,NaN,NaN,219,23228,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1,47.10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958241,332776,2012-11-17 10:02:22,5,32,5.0,321.49,55,106758,4,4.0,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,428.84,1
4958275,332781,2013-03-03 15:12:59,5,219,NaN,NaN,219,18007,3,3.5,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,129.94,1
4958304,332782,2012-11-08 18:24:21,19,158,NaN,NaN,158,68398,5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,288.25,1
4958321,332784,2013-06-18 14:35:24,24,219,NaN,NaN,100,34966,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,301.40,1
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,157.84,1

Final Pipeline

In [ ]:
def remove_outliers(df: pd.DataFrame) -> pd.DataFrame:

def add_nan_column(df: pd.DataFrame, cols):
    for col in cols:
        df[col + '_is_nan'] = df[col].isna()
    return df

def add_zero_column(df: pd.Dataframe, cols):
    for col in cols:
        df[col + '_is_zero'] = df[col] == 0
    return df

def calc_price_per_night(df: pd.DataFrame):

#def impute_prop_loc_score2(df: pd.DataFrame):

#def impute_prop_review_score(df: pd.DataFrame):

#def impute_prop_starrating(df: pd.DataFrame):

def impute_query_affinity_score(df: pd.DataFrame):

#def impute_orig_destination_distance(df: pd.DataFrame):

def define_target(df: pd.DataFrame):

def one_hot_encode(df: pd.DataFrame, cols):
    for col in cols:
        df = pd.get_dummies(df, columns=[col], prefix=col)
    return df

def delete_id_columns(df: pd.DataFrame):
    for col in df.columns:
        if col.endswith('_id'):
            df = df.drop(col, axis=1)
    return df