In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split

# Load the data
df = pd.read_csv("datasets/data_cleaned.csv")
df.head()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,...,srch_saturday_night_bool,orig_destination_distance,random_bool,click_bool,booking_bool,prop_review_score_is_nan,srch_query_affinity_score_is_nan,prop_review_score_is_zero,prop_starrating_is_zero,target
0,1,12,187,219,893,3,3.5,1,2.83,0.0438,...,1,1776.833608,1,0,0,0,1,0,0,0
1,1,12,187,219,10404,4,4.0,1,2.20,0.0149,...,1,1760.058186,1,0,0,0,1,0,0,0
2,1,12,187,219,21315,3,4.5,1,2.20,0.0245,...,1,1760.820221,1,0,0,0,1,0,0,0
3,1,12,187,219,27348,2,4.0,1,2.83,0.0125,...,1,1786.456451,1,0,0,0,1,0,0,0
4,1,12,187,219,29604,4,3.5,1,2.64,0.1241,...,1,1857.881111,1,0,0,0,1,0,0,0

In [19]:
test_df = pd.read_csv('datasets/test_data_cleaned.csv')

In [23]:
# Split the data into train and validation sets
train_df, val_df = train_test_split(df, test_size=0.2, random_state=42)

# Define the XGBoost parameters
xgb_params = {
    "objective": "rank:ndcg",
    "eval_metric": "ndcg@5",
    "max_depth": 6,
    "eta": 0.1,
    "subsample": 0.7,
    "colsample_bytree": 0.7,
    "seed": 42
}

# Train the XGBoost model
X_train = train_df.drop(['position', 'click_bool', 'booking_bool'], axis=1)
y_train = train_df[['target']] # , ['click_bool', 'booking_bool']
dtrain = xgb.DMatrix(X_train, y_train)
xgb_model = xgb.train(xgb_params, dtrain)


# ------ THIS PART IS USED FOR THE VALIDATION SET ------
# X_val = val_df.drop(['position', 'click_bool', 'booking_bool'], axis=1)

# dtest = xgb.DMatrix(X_val)
# preds = xgb_model.predict(dtest)

# # Format the predictions into the required submission format
# val_df['pred'] = preds
# val_df = val_df.sort_values(['srch_id', 'pred'], ascending=[True, False])
# val_df['rank'] = val_df.groupby('srch_id')['srch_id'].rank(method='first')
# val_df = val_df[['srch_id', 'prop_id', 'rank', 'click_bool', 'booking_bool']]
# ------ END VALIDATION SET ------

# ------ THIS PART IS USED FOR THE TEST SET ------
dtest = xgb.DMatrix(test_df)
preds = xgb_model.predict(dtest)

# Format the predictions into the required submission format
test_df['pred'] = preds
test_df = test_df.sort_values(['srch_id', 'pred'], ascending=[True, False])
test_df['rank'] = test_df.groupby('srch_id')['srch_id'].rank(method='first')
test_df = test_df[['srch_id', 'prop_id', 'rank']]
# ------ END TEST SET ------

In the predicted validation set some 'srch_id' contain only one instance. This is due to the small sample size and the train/val split which can result in only one instance being present in the validation data

In [24]:
test_df.head(60)

    srch_id  prop_id  rank
0         1     3180   1.0
1         1     5543   2.0
2         1    14142   3.0
3         1    22393   4.0
4         1    24194   5.0
5         1    28181   6.0
6         1    34263   7.0
7         1    37567   8.0
8         1    50162   9.0
9         1    54937  10.0
10        1    56050  11.0
11        1    61632  12.0
12        1    61934  13.0
13        1    63894  14.0
14        1    72090  15.0
15        1    73666  16.0
16        1    74045  17.0
17        1    78599  18.0
18        1    82231  19.0
19        1    89466  20.0
20        1    90385  21.0
21        1    94729  22.0
22        1    95031  23.0
23        1    99484  24.0
24        1   123675  25.0
25        1   128085  26.0
26        1   128871  27.0
27        1   134992  28.0
28        1   139162  29.0
29        3     6533   1.0
30        3    11425   2.0
31        3    22325   3.0
32        3    24915   4.0
33        3    27753   5.0
34        3    32382   6.0
35        3    43133   7.0
36        3    43362   8.0
37        3    45550   9.0
38        3    46861  10.0
39        3    47238  11.0
40        3    47377  12.0
41        3    63039  13.0
42        3    64168  14.0
43        3    71543  15.0
44        3    79176  16.0
45        3    80734  17.0
46        3    90968  18.0
47        3    91337  19.0
48        3    93176  20.0
49        3    96614  21.0
50        3   119120  22.0
51        3   124819  23.0
52        3   131397  24.0
53        3   131940  25.0
54        3   131968  26.0
55        3   132637  27.0
56        6     5333   1.0
57        6    22970   2.0
58        6    24695   3.0
59        6    31470   4.0

In [25]:
submission_df = test_df[['srch_id', 'prop_id']]
submission_df

         srch_id  prop_id
0              1     3180
1              1     5543
2              1    14142
3              1    22393
4              1    24194
...          ...      ...
4959178   332787    32019
4959179   332787    33959
4959180   332787    35240
4959181   332787    94437
4959182   332787    99509

[4959183 rows x 2 columns]

In [26]:
submission_df.to_csv('datasets/submission.csv', index=False)