In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from statsmodels.graphics.tsaplots import plot_acf

# Read in the data
df = pd.read_csv('dataset_mood_smartphone-2.csv')

#split date and time
df['date'] = pd.to_datetime(df['time']).dt.date
df['time'] = pd.to_datetime(df['time']).dt.time

grouped_df = df.groupby(['id', 'date', 'time', 'variable']).sum().reset_index()

#create dataframe of values per id per date per time
df = grouped_df.pivot_table(index=['id', 'date', 'time'], columns='variable', values='value')

# Apply different aggregation functions to different variables
agg_dict = {'mood': 'mean', 'circumplex.arousal': 'mean', 'circumplex.valence': 'mean', 'activity': 'mean', 'screen': 'sum', 'call': 'sum', 'sms': 'sum', 'appCat.builtin': 'sum', 'appCat.communication': 'sum', 'appCat.entertainment': 'sum', 'appCat.finance': 'sum', 'appCat.game': 'sum', 'appCat.office': 'sum', 'appCat.other': 'sum', 'appCat.social': 'sum', 'appCat.travel': 'sum', 'appCat.unknown': 'sum', 'appCat.weather': 'sum', 'appCat.utilities': 'sum'}

# Create df where some of the columns values are summed and for some the mean is taken for each day
df = df.groupby(['date', 'id']).agg(agg_dict).reset_index()

Removal of values 

- Remove instances that start with a lot of NaN for the mood
- Remove values that are not in the range depicted (this should actually be done before summing and taking the mean)
- Give the value 0 to all NaN for the applications (we can check later if there is a better way)

In [114]:
# Function that removes the starting nan values
def remove_starting_nan(column_name, dataframe, n_param):
    '''
    params: 
        colmun_name -> takes the name of the column as a string
        dataframe -> takes the dataframe object
        n_params -> int that takes the number of real float values before the NaN are removed

    This function removes the starting NaN values before an amount of n float values are detected
    Therefore removing all the instances before any real measurements are performed
    '''

    distinct_values = dataframe['id'].unique()
    new_df = pd.DataFrame()

    for value in distinct_values:
        distinct_df = dataframe[dataframe['id'] == value]
        count_nan = 0
        count_float = 0
        count_final = 0

        for e in distinct_df[column_name]:
            if math.isnan(e):
                count_nan += 1
                count_float = 0
            if isinstance(e, float):
                count_float += 1
            if count_float > n_param:
                n = count_nan 
                added_df = distinct_df.iloc[n:]
                added_df
                new_df = new_df.append(added_df)
                break

    return new_df
    
df = remove_starting_nan('mood', df, 4)
        
num_nan_values = df['mood'].isna().sum()
print(num_nan_values)

df

40

variable,date,id,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,...,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.weather,appCat.utilities
645,2014-03-21,AS14.01,6.20,0.2,0.20,0.134050,17978.907000,6.0,0.0,3139.218,...,1007.456,49.544,0.0,172.206,239.751,4508.500,915.445,0.000,0.000,598.754
670,2014-03-22,AS14.01,6.40,0.6,0.40,0.236880,6142.161000,3.0,1.0,731.429,...,93.324,21.076,0.0,0.000,98.143,439.632,37.305,0.000,0.000,117.621
691,2014-03-23,AS14.01,6.80,0.2,0.80,0.142741,6773.832001,0.0,0.0,1286.246,...,94.346,43.403,0.0,0.000,72.823,900.839,0.000,0.000,30.386,30.086
714,2014-03-24,AS14.01,6.00,0.8,0.00,0.078961,15047.351001,10.0,0.0,866.956,...,976.971,34.106,0.0,3.010,66.558,3223.626,419.805,0.000,0.000,178.732
739,2014-03-25,AS14.01,6.75,0.5,0.50,0.098374,21475.354999,0.0,1.0,1032.768,...,68.206,43.054,0.0,0.000,178.819,1919.471,0.000,235.223,0.000,222.893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,2014-06-05,AS14.24,7.00,0.0,0.80,0.152343,2371.588999,11.0,0.0,1749.277,...,0.000,0.000,0.0,0.000,47.360,171.964,225.737,0.000,0.000,0.000
1969,2014-06-06,AS14.24,7.50,0.5,0.25,0.189476,2733.332000,16.0,0.0,945.898,...,0.000,0.000,0.0,0.000,36.414,0.000,0.000,0.000,0.000,2.072
1970,2014-06-07,AS14.24,8.00,-1.0,0.00,0.081893,5530.377999,0.0,2.0,5027.498,...,0.000,0.000,0.0,0.000,6.214,106.850,0.000,0.000,0.000,0.000
1971,2014-06-08,AS14.24,6.50,-1.5,1.00,0.079510,1131.197999,0.0,0.0,351.389,...,0.000,0.000,0.0,0.000,18.069,190.760,0.000,0.000,0.000,0.000
1972,2014-06-09,AS14.24,NaN,NaN,NaN,0.250000,0.000000,0.0,0.0,0.000,...,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [115]:
# Perform one-hot encoding one the persons
one_hot_df = pd.get_dummies(df['id'])

# Concatenate the one-hot encoded columns to the original DataFrame
df = pd.concat([df, one_hot_df], axis=1)

# Drop the original categorical column
df.drop('id', axis=1, inplace=True)

df

,date,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,appCat.communication,...,AS14.24,AS14.25,AS14.26,AS14.27,AS14.28,AS14.29,AS14.30,AS14.31,AS14.32,AS14.33
645,2014-03-21,6.20,0.2,0.20,0.134050,17978.907000,6.0,0.0,3139.218,6280.890,...,0,0,0,0,0,0,0,0,0,0
670,2014-03-22,6.40,0.6,0.40,0.236880,6142.161000,3.0,1.0,731.429,4962.918,...,0,0,0,0,0,0,0,0,0,0
691,2014-03-23,6.80,0.2,0.80,0.142741,6773.832001,0.0,0.0,1286.246,5237.319,...,0,0,0,0,0,0,0,0,0,0
714,2014-03-24,6.00,0.8,0.00,0.078961,15047.351001,10.0,0.0,866.956,9270.629,...,0,0,0,0,0,0,0,0,0,0
739,2014-03-25,6.75,0.5,0.50,0.098374,21475.354999,0.0,1.0,1032.768,10276.751,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,2014-06-05,7.00,0.0,0.80,0.152343,2371.588999,11.0,0.0,1749.277,958.821,...,1,0,0,0,0,0,0,0,0,0
1969,2014-06-06,7.50,0.5,0.25,0.189476,2733.332000,16.0,0.0,945.898,1710.924,...,1,0,0,0,0,0,0,0,0,0
1970,2014-06-07,8.00,-1.0,0.00,0.081893,5530.377999,0.0,2.0,5027.498,735.965,...,1,0,0,0,0,0,0,0,0,0
1971,2014-06-08,6.50,-1.5,1.00,0.079510,1131.197999,0.0,0.0,351.389,375.515,...,1,0,0,0,0,0,0,0,0,0
1972,2014-06-09,NaN,NaN,NaN,0.250000,0.000000,0.0,0.0,0.000,0.000,...,1,0,0,0,0,0,0,0,0,0

In [116]:
# Remove instances that are not in the range of the depicted column
# ATTENTION should be performed before merging the data!!
def range_removal(lower, upper, column_name):

    column = df[column_name]

    # If we want to remove the NaN values use this
    #filtered_df = df[(column >= lower) & (column <= upper)]

    # If we want to keep the NaN values use this, so either comment one of those out
    filtered_df = df[column.between(lower, upper) | column.isna()]

    return filtered_df

df = range_removal(1, 10, 'mood')
df = range_removal(-2, 2, 'circumplex.arousal')
df = range_removal(-2, 2, 'circumplex.valence')
df = range_removal(0, 1, 'activity')

df

,date,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,appCat.communication,...,AS14.24,AS14.25,AS14.26,AS14.27,AS14.28,AS14.29,AS14.30,AS14.31,AS14.32,AS14.33
645,2014-03-21,6.20,0.2,0.20,0.134050,17978.907000,6.0,0.0,3139.218,6280.890,...,0,0,0,0,0,0,0,0,0,0
670,2014-03-22,6.40,0.6,0.40,0.236880,6142.161000,3.0,1.0,731.429,4962.918,...,0,0,0,0,0,0,0,0,0,0
691,2014-03-23,6.80,0.2,0.80,0.142741,6773.832001,0.0,0.0,1286.246,5237.319,...,0,0,0,0,0,0,0,0,0,0
714,2014-03-24,6.00,0.8,0.00,0.078961,15047.351001,10.0,0.0,866.956,9270.629,...,0,0,0,0,0,0,0,0,0,0
739,2014-03-25,6.75,0.5,0.50,0.098374,21475.354999,0.0,1.0,1032.768,10276.751,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,2014-06-05,7.00,0.0,0.80,0.152343,2371.588999,11.0,0.0,1749.277,958.821,...,1,0,0,0,0,0,0,0,0,0
1969,2014-06-06,7.50,0.5,0.25,0.189476,2733.332000,16.0,0.0,945.898,1710.924,...,1,0,0,0,0,0,0,0,0,0
1970,2014-06-07,8.00,-1.0,0.00,0.081893,5530.377999,0.0,2.0,5027.498,735.965,...,1,0,0,0,0,0,0,0,0,0
1971,2014-06-08,6.50,-1.5,1.00,0.079510,1131.197999,0.0,0.0,351.389,375.515,...,1,0,0,0,0,0,0,0,0,0
1972,2014-06-09,NaN,NaN,NaN,0.250000,0.000000,0.0,0.0,0.000,0.000,...,1,0,0,0,0,0,0,0,0,0

In [119]:
def MA_on_missing_values(dataframe, column, n):
    '''
    Performs moving averages on a column and creates new column where NaN values are substituted
    '''
    dataframe['MA'] = dataframe[column].ewm(span=n).mean()

    for index, row in dataframe.iterrows():
        if pd.isna(row[column]):
            df.loc[index, column] = row['MA']

    return dataframe

selected_df = MA_on_missing_values(df, 'mood', 10)
selected_df = MA_on_missing_values(df, 'circumplex.arousal', 10)
selected_df = MA_on_missing_values(df, 'circumplex.valence', 10)
selected_df = MA_on_missing_values(df, 'activity', 10)

In [118]:
# selected_df = df[df['AS14.01'] == 1]
# selected_df.head(10)
            
# num_nan_values = df['mood'].isna().sum()
# print(num_nan_values)
# num_nan_values = df['circumplex.arousal'].isna().sum()
# print(num_nan_values)
# num_nan_values = df['circumplex.valence'].isna().sum()
# print(num_nan_values)
# num_nan_values = df['activity'].isna().sum()
# print(num_nan_values)

mask = df['mood'].isna()

# Use the boolean mask to filter the DataFrame and select only the rows with NaN values in column 'B'
result = df[mask]
result

,date,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,appCat.communication,...,AS14.24,AS14.25,AS14.26,AS14.27,AS14.28,AS14.29,AS14.30,AS14.31,AS14.32,AS14.33
1809,2014-05-05,NaN,NaN,NaN,0.007843,1788.734000,0.0,0.0,438.347,826.787,...,0,0,0,0,0,0,0,0,0,0
1833,2014-05-06,NaN,NaN,NaN,0.086434,1786.197999,2.0,0.0,568.458,980.450,...,0,0,0,0,0,0,0,0,0,0
1856,2014-05-08,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1834,2014-05-06,NaN,NaN,NaN,0.127155,8128.757999,1.0,0.0,250.912,4816.999,...,0,0,0,0,0,0,0,0,0,0
1234,2014-04-13,NaN,NaN,NaN,0.000000,29.723000,0.0,0.0,29.695,0.000,...,0,0,0,0,0,0,0,0,0,0
1636,2014-04-28,NaN,NaN,NaN,0.000000,56.598000,1.0,0.0,56.046,0.000,...,0,0,0,0,0,0,0,0,0,0
1662,2014-04-29,NaN,NaN,NaN,0.003704,170.511000,0.0,0.0,200.214,27.243,...,0,0,0,0,0,0,0,0,0,0
1835,2014-05-06,NaN,NaN,NaN,0.343685,1658.536000,1.0,2.0,636.768,1154.761,...,0,0,0,0,0,0,0,0,0,0
1768,2014-05-03,NaN,NaN,NaN,0.026000,2509.074000,1.0,0.0,458.842,629.951,...,0,0,0,0,0,0,0,0,0,0
521,2014-03-15,NaN,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
544,2014-03-16,NaN,NaN,NaN,NaN,0.000000,1.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
561,2014-03-17,NaN,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
587,2014-03-18,NaN,NaN,NaN,NaN,0.000000,10.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
609,2014-03-19,NaN,NaN,NaN,NaN,0.000000,2.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
634,2014-03-20,NaN,NaN,NaN,0.042303,1630.728000,0.0,0.0,132.624,456.231,...,0,0,0,0,0,0,0,0,0,0
1795,2014-05-04,NaN,NaN,NaN,0.014883,6085.923001,0.0,0.0,316.415,1980.618,...,0,0,0,0,0,0,0,0,0,0
1267,2014-04-14,NaN,NaN,NaN,0.299607,12064.446998,0.0,0.0,1206.606,5660.479,...,0,0,0,0,0,0,0,0,0,0
1720,2014-05-01,NaN,NaN,NaN,0.365436,16494.091002,0.0,0.0,598.195,13099.300,...,0,0,0,0,0,0,0,0,0,0
1746,2014-05-02,NaN,NaN,NaN,0.397778,8933.061001,0.0,0.0,610.815,4481.607,...,0,0,0,0,0,0,0,0,0,0
1772,2014-05-03,NaN,NaN,NaN,0.566171,2380.234000,0.0,0.0,228.229,1993.056,...,0,0,0,0,0,0,0,0,0,0
1798,2014-05-04,NaN,NaN,NaN,0.217949,2726.177001,0.0,0.0,195.125,2370.035,...,0,0,0,0,0,0,0,0,0,0
1837,2014-05-06,NaN,NaN,NaN,0.081247,14170.806000,0.0,0.0,1489.333,6236.372,...,0,1,0,0,0,0,0,0,0,0
1838,2014-05-06,NaN,NaN,NaN,0.050141,6861.393001,1.0,1.0,890.806,475.491,...,0,0,1,0,0,0,0,0,0,0
1839,2014-05-06,NaN,NaN,NaN,0.097917,4865.127001,1.0,0.0,808.828,3622.312,...,0,0,0,1,0,0,0,0,0,0
1840,2014-05-06,NaN,NaN,NaN,0.072095,6754.850999,1.0,0.0,6114.802,2253.145,...,0,0,0,0,1,0,0,0,0,0
1752,2014-05-02,NaN,NaN,NaN,0.320999,3315.274000,0.0,7.0,1658.558,600.359,...,0,0,0,0,0,1,0,0,0,0
1841,2014-05-06,NaN,NaN,NaN,0.089946,14082.109000,0.0,0.0,159.450,2002.338,...,0,0,0,0,0,1,0,0,0,0
1921,2014-05-17,NaN,NaN,NaN,0.026727,165.684000,0.0,0.0,6.232,99.009,...,0,0,0,0,0,0,0,1,0,0
1411,2014-04-19,NaN,NaN,NaN,0.047568,1276.681000,2.0,0.0,600.774,374.339,...,0,0,0,0,0,0,0,0,1,0
1438,2014-04-20,NaN,NaN,NaN,0.055232,2566.197000,0.0,0.0,146.472,1650.384,...,0,0,0,0,0,0,0,0,1,0
1492,2014-04-22,NaN,NaN,NaN,0.125401,6734.574000,3.0,0.0,679.454,2606.399,...,0,0,0,0,0,0,0,0,1,0
1599,2014-04-26,NaN,NaN,NaN,0.184627,2330.224000,0.0,0.0,0.000,1918.319,...,0,0,0,0,0,0,0,0,1,0
1842,2014-05-06,NaN,NaN,NaN,0.136995,3953.402000,9.0,0.0,602.061,3399.973,...,0,0,0,0,0,0,0,0,1,0
1901,2014-05-13,NaN,NaN,NaN,0.090254,473.705000,0.0,0.0,235.942,382.468,...,0,0,0,0,0,0,0,0,1,0
1908,2014-05-14,NaN,NaN,NaN,0.164354,703.316000,0.0,0.0,215.723,375.609,...,0,0,0,0,0,0,0,0,1,0
1756,2014-05-02,NaN,NaN,NaN,0.340592,862.981000,2.0,3.0,726.646,0.000,...,0,0,0,0,0,0,0,0,0,1
1782,2014-05-03,NaN,NaN,NaN,0.301047,2491.060000,3.0,1.0,12892.035,93.648,...,0,0,0,0,0,0,0,0,0,1
1843,2014-05-06,NaN,NaN,NaN,0.076939,17911.275000,8.0,1.0,1554.774,6864.139,...,0,0,0,0,0,0,0,0,0,1
1836,2014-05-06,NaN,NaN,NaN,0.163371,3243.630999,1.0,0.0,2169.748,1259.555,...,1,0,0,0,0,0,0,0,0,0
1972,2014-06-09,NaN,NaN,NaN,0.250000,0.000000,0.0,0.0,0.000,0.000,...,1,0,0,0,0,0,0,0,0,0

In [120]:
nan_count = df.isna().sum()
print(nan_count)

date                    0
mood                    0
circumplex.arousal      0
circumplex.valence      0
activity                0
screen                  0
call                    0
sms                     0
appCat.builtin          0
appCat.communication    0
appCat.entertainment    0
appCat.finance          0
appCat.game             0
appCat.office           0
appCat.other            0
appCat.social           0
appCat.travel           0
appCat.unknown          0
appCat.weather          0
appCat.utilities        0
AS14.01                 0
AS14.02                 0
AS14.03                 0
AS14.05                 0
AS14.06                 0
AS14.07                 0
AS14.08                 0
AS14.09                 0
AS14.12                 0
AS14.13                 0
AS14.14                 0
AS14.15                 0
AS14.16                 0
AS14.17                 0
AS14.19                 0
AS14.20                 0
AS14.23                 0
AS14.24                 0
AS14.25                 0
AS14.26                 0
AS14.27                 0
AS14.28                 0
AS14.29                 0
AS14.30                 0
AS14.31                 0
AS14.32                 0
AS14.33                 0
MA                      0
dtype: int64

In [42]:
app_times = ['appCat.builtin','appCat.communication','appCat.entertainment','appCat.finance','appCat.game','appCat.office','appCat.other','appCat.social','appCat.travel','appCat.unknown','appCat.utilities','appCat.weather']

# Sum the values in the specified columns and create a new column 'app_times_sum'
df['sum_screentime'] = df[app_times].sum(axis=1)

df['overdue_time'] = df['screen'] - df['sum_screentime']

df.head(-51)

,date,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,appCat.communication,...,AS14.26,AS14.27,AS14.28,AS14.29,AS14.30,AS14.31,AS14.32,AS14.33,sum_screentime,overdue_time
0,2014-02-17,NaN,NaN,NaN,NaN,0.000000,2.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
1,2014-02-17,NaN,NaN,NaN,NaN,0.000000,4.0,2.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
2,2014-02-17,NaN,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
3,2014-02-17,NaN,NaN,NaN,NaN,0.000000,5.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
4,2014-02-17,NaN,NaN,NaN,NaN,0.000000,0.0,4.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,2014-05-16,7.4,0.6,0.8,0.107087,9174.194000,2.0,0.0,2902.587,4533.666,...,1,0,0,0,0,0,0,0,10469.791,-1295.597000
1918,2014-05-16,7.0,0.4,0.8,0.051781,5389.559000,11.0,0.0,2212.464,541.080,...,0,0,0,0,0,0,0,1,6274.341,-884.782000
1919,2014-05-17,7.6,-0.4,0.8,0.030052,5039.252001,1.0,0.0,2311.960,3430.633,...,0,0,0,0,0,0,0,0,6060.445,-1021.192999
1920,2014-05-17,7.4,0.4,0.4,0.133427,4837.187001,3.0,0.0,1027.730,1690.919,...,1,0,0,0,0,0,0,0,5265.258,-428.070999
1921,2014-05-17,NaN,NaN,NaN,0.026727,165.684000,0.0,0.0,6.232,99.009,...,0,0,0,0,0,1,0,0,224.974,-59.290000