In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.tsaplots import plot_acf

# Read in the data
df = pd.read_csv('dataset_mood_smartphone-2.csv')

#split date and time
df['date'] = pd.to_datetime(df['time']).dt.date
df['time'] = pd.to_datetime(df['time']).dt.time

grouped_df = df.groupby(['id', 'date', 'time', 'variable']).sum().reset_index()

#create dataframe of values per id per date per time
df = grouped_df.pivot_table(index=['id', 'date', 'time'], columns='variable', values='value')

# Apply different aggregation functions to different variables
agg_dict = {'mood': 'mean', 'circumplex.arousal': 'mean', 'circumplex.valence': 'mean', 'activity': 'mean', 'screen': 'sum', 'call': 'sum', 'sms': 'sum', 'appCat.builtin': 'sum', 'appCat.communication': 'sum', 'appCat.entertainment': 'sum', 'appCat.finance': 'sum', 'appCat.game': 'sum', 'appCat.office': 'sum', 'appCat.other': 'sum', 'appCat.social': 'sum', 'appCat.travel': 'sum', 'appCat.unknown': 'sum', 'appCat.weather': 'sum', 'appCat.utilities': 'sum'}

# Create df where some of the columns values are summed and for some the mean is taken for each day
df = df.groupby(['date', 'id']).agg(agg_dict).reset_index()

df
# one-hot encode the person
# Perform one-hot encoding using Pandas get_dummies() function
one_hot_df = pd.get_dummies(df['id'])

# Concatenate the one-hot encoded columns to the original DataFrame
df = pd.concat([df, one_hot_df], axis=1)

# Drop the original categorical column
df.drop('id', axis=1, inplace=True)

df

,date,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,appCat.communication,...,AS14.24,AS14.25,AS14.26,AS14.27,AS14.28,AS14.29,AS14.30,AS14.31,AS14.32,AS14.33
0,2014-02-17,NaN,NaN,NaN,NaN,0.000000,2.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1,2014-02-17,NaN,NaN,NaN,NaN,0.000000,4.0,2.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
2,2014-02-17,NaN,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
3,2014-02-17,NaN,NaN,NaN,NaN,0.000000,5.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
4,2014-02-17,NaN,NaN,NaN,NaN,0.000000,0.0,4.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,2014-06-05,7.0,0.0,0.80,0.152343,2371.588999,11.0,0.0,1749.277,958.821,...,1,0,0,0,0,0,0,0,0,0
1969,2014-06-06,7.5,0.5,0.25,0.189476,2733.332000,16.0,0.0,945.898,1710.924,...,1,0,0,0,0,0,0,0,0,0
1970,2014-06-07,8.0,-1.0,0.00,0.081893,5530.377999,0.0,2.0,5027.498,735.965,...,1,0,0,0,0,0,0,0,0,0
1971,2014-06-08,6.5,-1.5,1.00,0.079510,1131.197999,0.0,0.0,351.389,375.515,...,1,0,0,0,0,0,0,0,0,0
1972,2014-06-09,NaN,NaN,NaN,0.250000,0.000000,0.0,0.0,0.000,0.000,...,1,0,0,0,0,0,0,0,0,0

In [67]:
#df['MA'] = df['mood'].ewm(span=10).mean()

def MA_on_missing_values(dataframe, column, n):
    '''
    Performs moving averages on a column and creates new column where NaN values are substituted
    '''
    dataframe['MA'] = dataframe[column].ewm(span=n).mean()

    for index, row in dataframe.iterrows():
        if pd.isna(row[column]):
            df.loc[index, column] = row['MA']

    return dataframe

selected_df = MA_on_missing_values(df, 'mood', 10)


# Select rows where column 'B' has the value 1
selected_df = df[df['AS14.01'] == 1]
selected_df.head(60)

,date,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,appCat.communication,...,AS14.26,AS14.27,AS14.28,AS14.29,AS14.30,AS14.31,AS14.32,AS14.33,weighted_moving_avg_mood,MA
0,2014-02-17,NaN,NaN,NaN,NaN,0.000000,2.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,NaN
23,2014-02-18,NaN,NaN,NaN,NaN,0.000000,1.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,NaN
44,2014-02-19,NaN,NaN,NaN,NaN,0.000000,7.0,2.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,NaN
64,2014-02-20,NaN,NaN,NaN,NaN,0.000000,2.0,3.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,NaN
82,2014-02-21,NaN,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,NaN
102,2014-02-22,NaN,NaN,NaN,NaN,0.000000,2.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,NaN
159,2014-02-25,NaN,NaN,NaN,NaN,0.000000,3.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,NaN
177,2014-02-26,6.250000,-0.25,0.750000,NaN,0.000000,1.0,2.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.250000
196,2014-02-27,6.333333,0.00,0.333333,NaN,0.000000,0.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.265430
217,2014-02-28,6.331532,NaN,NaN,NaN,0.000000,4.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.330573
240,2014-03-01,6.331532,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.331523
274,2014-03-03,6.331532,NaN,NaN,NaN,0.000000,1.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.331532
314,2014-03-05,7.000000,NaN,NaN,NaN,0.000000,1.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.950782
335,2014-03-06,7.610750,NaN,NaN,NaN,0.000000,1.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,7.502515
356,2014-03-07,7.246567,NaN,NaN,NaN,0.000000,5.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,7.252352
413,2014-03-10,7.205285,NaN,NaN,NaN,0.000000,1.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,7.222761
435,2014-03-11,7.210091,NaN,NaN,NaN,0.000000,3.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,7.193594
452,2014-03-12,6.338423,NaN,NaN,NaN,0.000000,7.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.407571
471,2014-03-13,6.554680,NaN,NaN,NaN,0.000000,4.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.570799
491,2014-03-14,7.340722,NaN,NaN,NaN,0.000000,3.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,7.302654
510,2014-03-15,7.491378,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,7.491097
532,2014-03-16,6.470623,NaN,NaN,NaN,0.000000,0.0,3.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.486938
550,2014-03-17,6.455729,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.463583
574,2014-03-18,6.530795,NaN,NaN,NaN,0.000000,1.0,2.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.525302
597,2014-03-19,6.928695,NaN,NaN,NaN,0.000000,1.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,NaN,6.937621
621,2014-03-20,7.011184,NaN,NaN,0.081548,2275.944000,1.0,0.0,248.979,2168.229,...,0,0,0,0,0,0,0,0,NaN,7.010362
645,2014-03-21,6.200000,0.20,0.200000,0.134050,17978.907000,6.0,0.0,3139.218,6280.890,...,0,0,0,0,0,0,0,0,NaN,6.630510
670,2014-03-22,6.400000,0.60,0.400000,0.236880,6142.161000,3.0,1.0,731.429,4962.918,...,0,0,0,0,0,0,0,0,NaN,6.836489
691,2014-03-23,6.800000,0.20,0.800000,0.142741,6773.832001,0.0,0.0,1286.246,5237.319,...,0,0,0,0,0,0,0,0,NaN,7.010320
714,2014-03-24,6.000000,0.80,0.000000,0.078961,15047.351001,10.0,0.0,866.956,9270.629,...,0,0,0,0,0,0,0,0,NaN,7.058698
739,2014-03-25,6.750000,0.50,0.500000,0.098374,21475.354999,0.0,1.0,1032.768,10276.751,...,0,0,0,0,0,0,0,0,NaN,6.923041
763,2014-03-26,6.600000,-0.20,0.600000,0.101308,16423.801000,0.0,0.0,1167.497,8988.753,...,0,0,0,0,0,0,0,0,NaN,6.750357
786,2014-03-27,7.000000,0.20,0.800000,0.159511,17442.149999,2.0,1.0,1229.327,6936.512,...,0,0,0,0,0,0,0,0,NaN,6.803386
810,2014-03-28,6.400000,-0.60,0.600000,0.095698,4923.489000,5.0,0.0,10062.595,866.833,...,0,0,0,0,0,0,0,0,NaN,6.852806
835,2014-03-29,8.000000,0.20,1.000000,0.068203,8322.622000,4.0,1.0,1952.630,2720.692,...,0,0,0,0,0,0,0,0,NaN,7.384671
859,2014-03-30,7.500000,-0.50,0.750000,0.049093,4523.214001,0.0,0.0,414.365,1298.505,...,0,0,0,0,0,0,0,0,NaN,7.708586
882,2014-03-31,7.400000,0.00,0.600000,0.070505,11836.834000,6.0,0.0,2961.405,5332.637,...,0,0,0,0,0,0,0,0,NaN,7.227874
908,2014-04-01,6.000000,0.20,0.000000,0.118443,17173.906002,1.0,0.0,1385.517,6095.526,...,0,0,0,0,0,0,0,0,NaN,6.861377
934,2014-04-02,6.500000,0.25,0.500000,0.101917,21358.511000,4.0,0.0,3614.349,6920.156,...,0,0,0,0,0,0,0,0,NaN,7.153865
960,2014-04-03,6.400000,-1.20,0.000000,0.049238,21401.835001,4.0,0.0,2321.464,14438.082,...,0,0,0,0,0,0,0,0,NaN,6.972721
986,2014-04-04,6.200000,0.20,0.400000,0.126689,12379.411000,2.0,1.0,1957.829,5481.628,...,0,0,0,0,0,0,0,0,NaN,7.130263
1012,2014-04-05,6.800000,-0.40,0.600000,0.119002,3340.431000,0.0,0.0,15159.190,1885.409,...,0,0,0,0,0,0,0,0,NaN,7.158463
1038,2014-04-06,6.500000,-0.75,0.500000,0.064408,7467.322000,4.0,0.0,4548.662,3355.743,...,0,0,0,0,0,0,0,0,NaN,7.493426
1064,2014-04-07,6.500000,-0.50,0.250000,0.050671,9846.381000,1.0,0.0,927.377,7355.015,...,0,0,0,0,0,0,0,0,NaN,7.102072
1090,2014-04-08,6.600000,-0.40,0.200000,0.075327,15101.132002,1.0,0.0,892.689,9477.553,...,0,0,0,0,0,0,0,0,NaN,6.967665
1116,2014-04-09,7.400000,-0.80,0.800000,0.120384,13558.289001,4.0,0.0,1638.617,6177.076,...,0,0,0,0,0,0,0,0,NaN,7.411007
1143,2014-04-10,7.400000,-0.40,0.800000,0.078963,9296.098999,7.0,0.0,715.355,4881.411,...,0,0,0,0,0,0,0,0,NaN,7.267332
1170,2014-04-11,7.000000,-1.20,0.800000,0.079986,10526.846000,0.0,0.0,3369.031,3336.592,...,0,0,0,0,0,0,0,0,NaN,7.434685
1197,2014-04-12,7.250000,-0.75,0.750000,0.072249,11750.809001,0.0,0.0,302.446,6595.083,...,0,0,0,0,0,0,0,0,NaN,7.306447
1224,2014-04-13,8.000000,-1.25,1.000000,0.014021,2005.750999,0.0,0.0,447.415,1096.795,...,0,0,0,0,0,0,0,0,NaN,7.724756
1251,2014-04-14,7.200000,-1.20,0.600000,0.083887,17985.447999,1.0,1.0,961.581,6486.284,...,0,0,0,0,0,0,0,0,NaN,7.370995
1278,2014-04-15,6.400000,0.00,0.800000,0.090112,13585.222998,8.0,1.0,1596.356,6224.231,...,0,0,0,0,0,0,0,0,NaN,7.059391
1305,2014-04-16,7.200000,0.60,0.200000,0.116110,12522.474999,0.0,1.0,923.613,5175.016,...,0,0,0,0,0,0,0,0,NaN,7.301494
1332,2014-04-17,8.250000,-0.50,0.750000,0.056918,15018.480001,2.0,0.0,552.201,11853.339,...,0,0,0,0,0,0,0,0,7.733636,7.632154
1359,2014-04-18,6.800000,-0.80,0.800000,0.094033,13490.729000,1.0,0.0,1860.898,5341.657,...,0,0,0,0,0,0,0,0,7.380000,7.254860
1386,2014-04-19,7.800000,-0.20,1.000000,0.099432,13293.248001,1.0,0.0,946.190,2728.260,...,0,0,0,0,0,0,0,0,7.313636,7.242129
1413,2014-04-20,7.250000,-0.25,0.750000,0.074816,8343.518000,2.0,2.0,897.086,4984.724,...,0,0,0,0,0,0,0,0,NaN,7.430795
1440,2014-04-21,7.600000,-0.20,1.000000,0.102041,3832.990999,2.0,0.0,3442.232,2004.347,...,0,0,0,0,0,0,0,0,NaN,7.690302
1467,2014-04-22,7.400000,0.20,1.000000,0.091930,15490.269999,2.0,0.0,2212.954,11360.913,...,0,0,0,0,0,0,0,0,7.181818,7.181317
1494,2014-04-23,7.600000,0.20,1.000000,0.045986,14535.339999,1.0,0.0,1130.842,8928.472,...,0,0,0,0,0,0,0,0,NaN,7.101496

In [42]:
app_times = ['appCat.builtin','appCat.communication','appCat.entertainment','appCat.finance','appCat.game','appCat.office','appCat.other','appCat.social','appCat.travel','appCat.unknown','appCat.utilities','appCat.weather']

# Sum the values in the specified columns and create a new column 'app_times_sum'
df['sum_screentime'] = df[app_times].sum(axis=1)

df['overdue_time'] = df['screen'] - df['sum_screentime']

df.head(-51)

,date,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,appCat.communication,...,AS14.26,AS14.27,AS14.28,AS14.29,AS14.30,AS14.31,AS14.32,AS14.33,sum_screentime,overdue_time
0,2014-02-17,NaN,NaN,NaN,NaN,0.000000,2.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
1,2014-02-17,NaN,NaN,NaN,NaN,0.000000,4.0,2.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
2,2014-02-17,NaN,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
3,2014-02-17,NaN,NaN,NaN,NaN,0.000000,5.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
4,2014-02-17,NaN,NaN,NaN,NaN,0.000000,0.0,4.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0.000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,2014-05-16,7.4,0.6,0.8,0.107087,9174.194000,2.0,0.0,2902.587,4533.666,...,1,0,0,0,0,0,0,0,10469.791,-1295.597000
1918,2014-05-16,7.0,0.4,0.8,0.051781,5389.559000,11.0,0.0,2212.464,541.080,...,0,0,0,0,0,0,0,1,6274.341,-884.782000
1919,2014-05-17,7.6,-0.4,0.8,0.030052,5039.252001,1.0,0.0,2311.960,3430.633,...,0,0,0,0,0,0,0,0,6060.445,-1021.192999
1920,2014-05-17,7.4,0.4,0.4,0.133427,4837.187001,3.0,0.0,1027.730,1690.919,...,1,0,0,0,0,0,0,0,5265.258,-428.070999
1921,2014-05-17,NaN,NaN,NaN,0.026727,165.684000,0.0,0.0,6.232,99.009,...,0,0,0,0,0,1,0,0,224.974,-59.290000