In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.tsaplots import plot_acf

# Read in the data
df = pd.read_csv('dataset_mood_smartphone-2.csv')

#split date and time
df['date'] = pd.to_datetime(df['time']).dt.date
df['time'] = pd.to_datetime(df['time']).dt.time

grouped_df = df.groupby(['id', 'date', 'time', 'variable']).sum().reset_index()

#create dataframe of values per id per date per time
df = grouped_df.pivot_table(index=['id', 'date', 'time'], columns='variable', values='value')

# Apply different aggregation functions to different variables
agg_dict = {'mood': 'mean', 'circumplex.arousal': 'mean', 'circumplex.valence': 'mean', 'activity': 'mean', 'screen': 'sum', 'call': 'sum', 'sms': 'sum', 'appCat.builtin': 'sum', 'appCat.communication': 'sum', 'appCat.entertainment': 'sum', 'appCat.finance': 'sum', 'appCat.game': 'sum', 'appCat.office': 'sum', 'appCat.other': 'sum', 'appCat.social': 'sum', 'appCat.travel': 'sum', 'appCat.unknown': 'sum', 'appCat.weather': 'sum', 'appCat.utilities': 'sum'}

# Create df where some of the columns values are summed and for some the mean is taken for each day
df = df.groupby(['date', 'id']).agg(agg_dict).reset_index()

df
# one-hot encode the person
# Perform one-hot encoding using Pandas get_dummies() function
one_hot_df = pd.get_dummies(df['id'])

# Concatenate the one-hot encoded columns to the original DataFrame
df = pd.concat([df, one_hot_df], axis=1)

# Drop the original categorical column
df.drop('id', axis=1, inplace=True)

df

,date,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,appCat.communication,...,AS14.24,AS14.25,AS14.26,AS14.27,AS14.28,AS14.29,AS14.30,AS14.31,AS14.32,AS14.33
0,2014-02-17,NaN,NaN,NaN,NaN,0.000000,2.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1,2014-02-17,NaN,NaN,NaN,NaN,0.000000,4.0,2.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
2,2014-02-17,NaN,NaN,NaN,NaN,0.000000,0.0,1.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
3,2014-02-17,NaN,NaN,NaN,NaN,0.000000,5.0,0.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
4,2014-02-17,NaN,NaN,NaN,NaN,0.000000,0.0,4.0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,2014-06-05,7.0,0.0,0.80,0.152343,2371.588999,11.0,0.0,1749.277,958.821,...,1,0,0,0,0,0,0,0,0,0
1969,2014-06-06,7.5,0.5,0.25,0.189476,2733.332000,16.0,0.0,945.898,1710.924,...,1,0,0,0,0,0,0,0,0,0
1970,2014-06-07,8.0,-1.0,0.00,0.081893,5530.377999,0.0,2.0,5027.498,735.965,...,1,0,0,0,0,0,0,0,0,0
1971,2014-06-08,6.5,-1.5,1.00,0.079510,1131.197999,0.0,0.0,351.389,375.515,...,1,0,0,0,0,0,0,0,0,0
1972,2014-06-09,NaN,NaN,NaN,0.250000,0.000000,0.0,0.0,0.000,0.000,...,1,0,0,0,0,0,0,0,0,0