In [18]:
import pandas as pd

df = pd.read_csv('dataset_mood_smartphone-2.csv')

# convert time column to datetime format
df['time'] = pd.to_datetime(df['time'])

# round time to nearest hour and group by time, person_id, and variable
df['time_hour'] = df['time']
grouped_df = df.groupby(['time_hour', 'id', 'variable']).sum().reset_index()

# use pivot_table to create columns for each variable
df_pivot = grouped_df.pivot_table(index=['time_hour', 'id'], columns='variable', values='value')

df_pivot.dropna(subset=['screen'], inplace=True)

df_pivot

        Unnamed: 0       id                    time        variable   value
0                1  AS14.01 2014-02-26 13:00:00.000            mood   6.000
1                2  AS14.01 2014-02-26 15:00:00.000            mood   6.000
2                3  AS14.01 2014-02-26 18:00:00.000            mood   6.000
3                4  AS14.01 2014-02-26 21:00:00.000            mood   7.000
4                5  AS14.01 2014-02-27 09:00:00.000            mood   6.000
...            ...      ...                     ...             ...     ...
376907     2770399  AS14.30 2014-04-11 07:51:16.948  appCat.weather   8.032
376908     2772465  AS14.30 2014-04-19 11:00:32.747  appCat.weather   3.008
376909     2774026  AS14.30 2014-04-26 10:19:07.434  appCat.weather   7.026
376910     2774133  AS14.30 2014-04-27 00:44:48.450  appCat.weather  23.033
376911     2784435  AS14.32 2014-04-07 18:25:14.036  appCat.weather  22.431

[376912 rows x 5 columns]

In [19]:
# convert time column to datetime format
df['time'] = pd.to_datetime(df['time'])

# round time to nearest hour and group by time, person_id, and variable
df['time_hour'] = df['time'].dt.round('D')
grouped_df = df.groupby(['time_hour', 'id', 'variable']).sum().reset_index()

# use pivot_table to create columns for each variable
df = grouped_df.pivot_table(index=['time_hour', 'id'], columns='variable', values='value')

df

variable            activity  appCat.builtin  appCat.communication  \
time_hour  id
2014-02-17 AS14.02       NaN             NaN                   NaN
           AS14.06       NaN             NaN                   NaN
           AS14.09       NaN             NaN                   NaN
           AS14.14       NaN             NaN                   NaN
           AS14.16       NaN             NaN                   NaN
...                      ...             ...                   ...
2014-06-05 AS14.24  1.510372         843.588              4203.992
2014-06-06 AS14.24  3.801124        1856.035              1358.551
2014-06-07 AS14.24  5.349713        5314.422              1254.974
2014-06-08 AS14.24  0.602705         686.255               739.230
2014-06-09 AS14.24  0.250000             NaN                   NaN

variable            appCat.entertainment  appCat.finance  appCat.game  \
time_hour  id
2014-02-17 AS14.02                   NaN             NaN          NaN
           AS14.06                   NaN             NaN          NaN
           AS14.09                   NaN             NaN          NaN
           AS14.14                   NaN             NaN          NaN
           AS14.16                   NaN             NaN          NaN
...                                  ...             ...          ...
2014-06-05 AS14.24                   NaN             NaN          NaN
2014-06-06 AS14.24                   NaN             NaN          NaN
2014-06-07 AS14.24                   NaN             NaN          NaN
2014-06-08 AS14.24                   NaN             NaN          NaN
2014-06-09 AS14.24                   NaN             NaN          NaN

variable            appCat.office  appCat.other  appCat.social  appCat.travel  \
time_hour  id
2014-02-17 AS14.02            NaN           NaN            NaN            NaN
           AS14.06            NaN           NaN            NaN            NaN
           AS14.09            NaN           NaN            NaN            NaN
           AS14.14            NaN           NaN            NaN            NaN
           AS14.16            NaN           NaN            NaN            NaN
...                           ...           ...            ...            ...
2014-06-05 AS14.24            NaN        43.519         87.047            NaN
2014-06-06 AS14.24            NaN        41.542        153.855        225.737
2014-06-07 AS14.24            NaN        29.194            NaN            NaN
2014-06-08 AS14.24            NaN        24.283        297.610            NaN
2014-06-09 AS14.24            NaN           NaN            NaN            NaN

variable            appCat.unknown  appCat.utilities  appCat.weather  call  \
time_hour  id
2014-02-17 AS14.02             NaN               NaN             NaN   1.0
           AS14.06             NaN               NaN             NaN   2.0
           AS14.09             NaN               NaN             NaN   2.0
           AS14.14             NaN               NaN             NaN   NaN
           AS14.16             NaN               NaN             NaN   1.0
...                            ...               ...             ...   ...
2014-06-05 AS14.24             NaN               NaN             NaN   3.0
2014-06-06 AS14.24             NaN             2.072             NaN  11.0
2014-06-07 AS14.24             NaN               NaN             NaN  14.0
2014-06-08 AS14.24             NaN               NaN             NaN   NaN
2014-06-09 AS14.24             NaN               NaN             NaN   NaN

variable            circumplex.arousal  circumplex.valence  mood       screen  \
time_hour  id
2014-02-17 AS14.02                 NaN                 NaN   NaN          NaN
           AS14.06                 NaN                 NaN   NaN          NaN
           AS14.09                 NaN                 NaN   NaN          NaN
           AS14.14                 NaN                 NaN   NaN          NaN
           AS14.16                 NaN                 NaN   NaN          NaN
...                                ...                 ...   ...          ...
2014-06-05 AS14.24                 1.0                 5.0  35.0  5077.191000
2014-06-06 AS14.24                 2.0                 2.0  28.0  2871.372999
2014-06-07 AS14.24                 0.0                 1.0  31.0  2402.994999
2014-06-08 AS14.24                -3.0                 2.0  13.0  5870.418999
2014-06-09 AS14.24                 NaN                 NaN   NaN          NaN

variable            sms
time_hour  id
2014-02-17 AS14.02  1.0
           AS14.06  NaN
           AS14.09  NaN
           AS14.14  1.0
           AS14.16  NaN
...                 ...
2014-06-05 AS14.24  1.0
2014-06-06 AS14.24  NaN
2014-06-07 AS14.24  2.0
2014-06-08 AS14.24  NaN
2014-06-09 AS14.24  NaN

[1980 rows x 19 columns]

In [20]:
#create dataframe with properties of data
df_properties = pd.DataFrame(columns=['Attribute', 'Type', 'Unique Values', 'Missing Values', 'Mean', 'Std', 'Min', '25%', '50%', '75%', 'Max'])
df_properties['Attribute'] = df.columns.values
df_properties['Type'] = df.dtypes.values
df_properties['Unique Values'] = df.nunique().values
df_properties['Missing Values'] = df.isnull().sum().values
df_properties['Mean'] = df.mean().values
df_properties['Std'] = df.std().values
df_properties['Min'] = df.min().values
df_properties['25%'] = df.quantile(0.25).values
df_properties['50%'] = df.quantile(0.5).values
df_properties['75%'] = df.quantile(0.75).values
df_properties['Max'] = df.max().values
df_properties

,Attribute,Type,Unique Values,Missing Values,Mean,Std,Min,25%,50%,75%,Max
0,activity,float64,1156,800,2.256768,1.746690,0.000,1.021731,1.987806,2.979163,11.16385
1,appCat.builtin,float64,1188,792,1424.512501,3842.967937,-81531.173,275.556750,773.034500,1591.926500,37453.78600
2,appCat.communication,float64,1172,808,2746.931318,2449.992613,3.010,893.661750,2124.706500,3857.955750,16339.20300
3,appCat.entertainment,float64,833,1147,1223.603874,1948.734482,1.014,200.921000,692.231000,1608.516000,35969.02500
4,appCat.finance,float64,207,1773,98.686865,158.698849,1.004,24.611500,49.371000,95.029500,1070.87300
5,appCat.game,float64,182,1796,567.295560,1039.560412,1.010,101.900000,233.708000,624.888250,10115.58400
6,appCat.office,float64,274,1704,461.558359,2106.334514,1.004,17.168500,70.320500,266.173000,33133.23800
7,appCat.other,float64,1123,854,175.357834,389.232137,4.018,43.689500,64.659000,136.892250,4330.16800
8,appCat.social,float64,985,995,1407.243128,1931.922413,1.003,205.857000,746.995000,1998.567000,30088.25200
9,appCat.travel,float64,441,1538,294.457011,692.562504,0.080,58.251250,129.549500,303.240750,10548.11600
10,appCat.unknown,float64,266,1713,160.203270,318.419947,0.111,22.117500,61.762000,175.703500,2883.83900
11,appCat.utilities,float64,435,1536,103.835342,217.569626,1.002,8.124750,26.230000,87.544000,2254.48600
12,appCat.weather,float64,110,1870,46.708382,49.982537,1.007,13.432250,32.409500,64.003250,344.86300
13,call,float64,24,627,3.872136,3.482084,1.000,1.000000,3.000000,5.000000,34.00000
14,circumplex.arousal,float64,20,697,-0.430242,2.894196,-10.000,-2.000000,0.000000,1.000000,10.00000
15,circumplex.valence,float64,15,697,2.941543,2.053234,-5.000,2.000000,3.000000,4.000000,10.00000
16,mood,float64,48,697,30.744349,9.435145,5.000,26.000000,31.000000,38.000000,52.00000
17,screen,float64,1195,785,6088.471535,4640.629502,6.818,2545.819500,5115.752001,8682.074499,32489.27600
18,sms,float64,17,1238,2.423181,2.303878,1.000,1.000000,2.000000,3.000000,20.00000

In [22]:
len(df)

1980

In [ ]:
df.info()

df.time.dtype

distinct_values = df['variable'].unique()

# print the distinct values
print(distinct_values)

mood = df.loc[df['variable'] == 'mood']
mood

In [ ]:
# loop through all the distinct values of the 'column_name' column
for value in df['variable'].unique():
    
    # get the minimum and maximum value of the current value in the 'column_name' column
    min_value = df[df['variable'] == value].min()
    max_value = df[df['variable'] == value].max()
    
    # print the minimum and maximum value of the current value in the 'column_name' column
    print(f"Distinct value: {value}")
    print(f"Minimum value: {min_value}")
    print(f"Maximum value: {max_value}")
    print("\n")